.text {
    display: inline-block;
  }
  
  .move {
    animation: move 10s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  